#tool fro menaging/creating modpacks
packwiz.exe

#exported modrinth pack
*.mrpack

#Custom tools for managing/updating/... modpacks
DevTools/

#exported mopackpack ready to release
bin/

#WIP
src/Quilt Improved/
