name: Automatically publish to Modrinth and curseforge
'on':
  release:
    types:
      - released

jobs:
  publish-to-modrinth:
    runs-on: ubuntu-22.04
    concurrency: 
      group: publish-modrinth
      cancel-in-progress: false
    steps:

      - name: Get versions
        id: Get_Version
        run: |
          echo "pack=$(echo ${{ github.event.release.tag_name }} | cut -d'+' -f1)" >> $GITHUB_OUTPUT
          echo "minecraft=$(echo ${{ github.event.release.tag_name }} | cut -d'+' -f2)" >> $GITHUB_OUTPUT

      - name: Download the pack files
        uses: robinraju/release-downloader@v1.11
        with:
          fileName: '*'
          tag: '${{ github.event.release.tag_name }}'

      - name: Publish quilt to Modrinth
        if: ${{ !(steps.get_version.outputs.minecraft == '1.18.2' || steps.get_version.outputs.minecraft == '1.16.5')}}
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: ehPxCT2J
          modrinth-token: '${{ secrets.MODRINTH }}'
          files: Thunder-${{steps.get_version.outputs.pack}}+quilt-${{steps.get_version.outputs.minecraft }}.mrpack
          name: Thunder ${{steps.get_version.outputs.pack}} for quilt ${{ steps.get_version.outputs.minecraft }}
          changelog-file: Changelog-${{steps.get_version.outputs.pack}}+quilt-${{steps.get_version.outputs.minecraft }}.md
          loaders: 'quilt'
          game-versions: '${{ steps.get_version.outputs.minecraft }}'
      
      # Disabled because curseforge refuses to accept some fabric mods runned with quilt
      #- name: Publish quilt to CurseForge
      #  if: ${{ !(steps.get_version.outputs.minecraft == '1.18.2' || steps.get_version.outputs.minecraft == '1.16.5')}}
      #  uses: Kir-Antipov/mc-publish@v3.3
      #  with:
      #    curseforge-id: 963806
      #    curseforge-token: '${{ secrets.CURSEFORGE }}'
      #    files: Thunder-${{steps.get_version.outputs.pack}}+quilt-${{steps.get_version.outputs.minecraft }}.zip
      #    name: Thunder ${{steps.get_version.outputs.pack}} for quilt ${{ steps.get_version.outputs.minecraft }}
      #    changelog-file: Changelog-${{steps.get_version.outputs.pack}}+quilt-${{steps.get_version.outputs.minecraft }}.md
      #    loaders: 'quilt'
      #    game-versions: '${{ steps.get_version.outputs.minecraft }}'
      
      - name: Publish fabric to Modrinth
        if: always()
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: ehPxCT2J
          modrinth-token: '${{ secrets.MODRINTH }}'
          files: Thunder-${{steps.get_version.outputs.pack}}+fabric-${{steps.get_version.outputs.minecraft }}.mrpack
          name: Thunder ${{steps.get_version.outputs.pack}} for fabric ${{ steps.get_version.outputs.minecraft }}
          changelog-file: Changelog-${{steps.get_version.outputs.pack}}+fabric-${{steps.get_version.outputs.minecraft }}.md
          loaders: 'fabric'
          game-versions: '${{ steps.get_version.outputs.minecraft }}'
      
      - name: Publish fabric to CurseForge
        if: always()
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          curseforge-id: 963806
          curseforge-token: '${{ secrets.CURSEFORGE }}'
          files: Thunder-${{steps.get_version.outputs.pack}}+fabric-${{steps.get_version.outputs.minecraft }}.zip
          name: Thunder ${{steps.get_version.outputs.pack}} for fabric ${{ steps.get_version.outputs.minecraft }}
          changelog-file: Changelog-${{steps.get_version.outputs.pack}}+fabric-${{steps.get_version.outputs.minecraft }}.md
          loaders: 'fabric'
          game-versions: '${{ steps.get_version.outputs.minecraft }}'